@charset "UTF-8";

/* Fontes importadas para o projeto */
@font-face {
    font-family: 'SegoeUI Variable Display';
    src: url('fontes/SegoeUIVariable/SegoeUIVariableStaticDisplay.ttf') format('truetype');
}

@font-face {
    font-family: 'SegoeUI Variable Display Bold';
    src: url('fontes/SegoeUIVariable/SegoeUIVariableStaticDisplayBold.ttf') format('truetype');
}

@font-face {
    font-family: 'SegoeUI Variable Text';
    src: url('fontes/SegoeUIVariable/SegoeUIVariableStaticText.ttf') format('truetype');
}

@font-face {
    font-family: 'SegoeUI Variable Text Bold';
    src: url('fontes/SegoeUIVariable/SegoeUIVariableStaticTextBold.ttf') format('truetype');
}

:root{
    
    /* Cores */
    --cor-principal: #e8dfff;
    --cor-secundaria: #f0f8ff;
    --cor-texto: black;
    --cor-botoes: #007acc;

    /* Fontes */

    --fonte-principal-titulo: 'SegoeUI Variable Display Bold';
    --fonte-principal: 'SegoeUI Variable Text';
    --fonte-sec: 'Segoe UI';


}

*{
    margin: 0px;
    padding: 0px;
}

header{
    color: white;    
    text-align: center; 
           
}

header div#descricaoPortifolio{
    background-color: red;
    font-family: var(--fonte-principal-titulo), sans-serif;
}

#banner{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}


nav{
    background-color: var(--cor-secundaria);
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    margin: 457px;
    margin-top: 10px;
    margin-bottom: 15px;
    font-family: var(--fonte-principal-titulo)
    
}

nav > a{
    padding: 10px;   
    text-decoration: none;
    color: var(--cor-texto);
     
}

nav > a:hover{
    background-color: var(--cor-secundaria);
    color: var(--cor-texto);
    transition-duration: 0.5s;
    border-radius: 10px;
    box-shadow: 0px 0px 10px  rgb(18, 75, 110);
}

a:visited{
    color: var(--cor-texto);
}

body{   
    background-image: linear-gradient(to right, var(--cor-principal), #e7fefc)
}

main{
    min-height: 5000px;
    max-width: 900px;
    margin: auto;    
    padding: 15px;
    background-color: white;    
    box-shadow: 0px 0px 10px rgb(18, 75, 110);
    color: var(--cor-texto);
    border-radius: 10px;
    font-family: var(--fonte-principal)
}

main h1{
    font-family: var(--fonte-principal-titulo);
}

article{
    background-color: #f0f8ff;
    padding: 5px;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 10px;
}

article p{
    text-align: justify;
}

article img{
    border-radius: 5px;
}

#source{
    font-style: italic;
    font-size: 11px;
}

ol{
    padding: 15px;
}

footer{
    background-color: white;
    text-align: center;
    color: var(--cor-texto);
    margin-top: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: var(--fonte-sec);
    font-size: 11px;
    
    
    
}
